@charset "utf-8";
/* CSS Document */

@media screen and (min-width:401px) and (max-width: 599px){

body{
	-webkit-text-size-adjust: 100%;
	width:100%;
	height:100%;
	margin:0 auto;
	padding:0;
}

/* ラップ */
/*#wrap{
	width: auto;
	max-width: 100%;
	max-height: 100vh;
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin:auto;
}*/

#wrap img{
	 margin:auto;
}

main{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	background:#FFFFFF;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* トップ */
#top_img img{
	width: auto;
	max-width: 100%;
	margin-bottom:5px;
}

/* コンテンツ */
#content img{
	width: auto;
	max-width: 100%;
	margin: 2rem auto;
	margin-top:-6px;
}

/* コンテンツ2 */
#content2 img{
	width: auto;
	max-width: 100%;
	margin-bottom:30px;
}

/* コンテンツ3 */
#content3 img{
	width: auto;
	max-width: 96%;
	margin-top: -35px;
	margin-left: 12px;
}

/* テキスト */
#text{
	width:90%;
	font-size: 100%;
	font-weight:600;
	margin:4%;
	line-height:1.5;
	color:#6A6553;
}

#text p{
	margin:10px;
	text-align:justify;
}

/* コンテンツ4 */

#content4{
	margin:0;
}

#content4 img{
	width: 100%;
}

/* コンテンツ5 */
#content5 img{
	width: auto;
	max-width: 100%;
	margin-bottom: 40px;
}

/* コンテンツ6 */
#content6 img{
	width: auto;
	max-width: 100%;
}

/* コンテンツ7 */
#content7 img{
	width: auto;
	max-width: 100%;
	margin-top: -8px;
}

/* テキスト2 */
#text2{
	width:90%;
	font-size: 100%;
	font-weight:600;
	margin:2rem auto;
	line-height:1.5;
	color:#6A6553;
}

#text2 p{
	margin:10px;
}

/* コンテンツ8 */
/*#content8 img{
	width: auto;
	max-width: 100%;
	margin-bottom: 50px;
}*/

/*コンテンツ８　NEW*/
.all_8{
	margin: 8% 0 20%;
	background: url(../images/contents8_1.png);
	padding: 5% 5%;
}



.all_8 img{
	width: 100%;
	height: 160px;
	}

.content8_new{
overflow: hidden;
zoom:1;
background-color: #fff;
border-radius:10px;
box-shadow: 1px 1px 1px rgba(0,0,0,0.5)inset;
}

.content8_new h1{
color: #f47036;
font-family:'ＭＳ Ｐ明朝', 'MS PMincho','ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'serif';
text-align: center;
font-size: 14px;
}

.content8_new i{
	color:#e65977;
}

.content8_new p{
	font-weight: bold;
	font-size:3vw;
	color: #4a4a4a;
	margin-top: -5px;
	padding: 0;
}


#one_row{
	float: left;
	margin-left: 1%;

}

#two_row{
	float:right;
	margin-right: 2%;
}


/* コンテンツ9 */
#content9 img{
	width: auto;
	max-width: 100%;
	margin-top: 20px;
}

/*  コンテンツ10 */
#content10 img{
	width: auto;
	max-width: 100%;
	margin-bottom: 3px;
}

/* テキスト3 */
#text3{
	width:90%;
	font-size: 100%;
	font-weight:600;
	margin:2rem auto;
	line-height:1.5;
	color:#6A6553;
}

#text3 p{
	margin:10px;
}

/*  コンテンツ11 */
#content11 img{
	width: auto;
	max-width: 100%;
	margin-bottom: 80px;
}

/*  コンテンツ12 */
#content12 img{
	width: auto;
	max-width: 100%;
	margin-bottom: 30px;
}

/* メールアイコン */
.css-mail{
  display: inline-block;
  position: relative;
  width: 38px;
  height: 25px;
  margin: 0 7px -7px 0;
  padding: 0;
  background: #D908C3;
  margin-left: 30px;
}
.css-mail:before, .css-mail:after{
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.css-mail:before{
  border: 20px solid transparent;
  border-top-color: #fff;
}
.css-mail:after{
  left: 4px;
  border: 16px solid transparent;
  border-top-color: #D908C3;
}

/* お客様の声 */
#customers-voice{
	width:80%;
	margin: 7%;
	margin-bottom: 50px;
}

	h3{
		font-size: 13px;
	}

#customers-voice p{
	margin:3px;
	margin-left: 30px;
	font-size: 15px;
}

/* お客様の声2 */
#customers-voice2{
	width:80%;
	margin:  7%;
	font-size: 15px;
	margin-bottom: 50px;
}

#customers-voice2 p{
	margin:3px;
	margin-left: 30px;
	font-size: 15px;
}

/* お客様の声3 */
#customers-voice3{
	width:80%;
	margin: 7%;
	font-size: 15px;
	margin-bottom: 50px;
}

#customers-voice3 p{
	margin:3px;
	margin-left: 30px;
	font-size: 15px;
}

/* お客様の声4 */
#customers-voice4{
	width:80%;
	margin:  7%;
	font-size: 15px;
	margin-bottom: 50px;
}

#customers-voice4 p{
	margin:3px;
	margin-left: 30px;
	font-size: 15px;
}

/*  コンテンツ13-1 */
#content13-1 img{
	display: none;
}

/*  コンテンツ13-1スマホ用-max500px */
#content13-1_sp img{
	width: auto;
	max-width: 100%;
	margin-bottom: 30px;
}

/*  コンテンツ13-1スマホ用-max400px */
#content13-1_sp-2 img{
	display: none;
}

/* アンカーリンク */
#anchor_link{
	text-align: right;
	position: fixed;
    bottom: 1rem;
    right: 1rem;
}

#anchor_link img{
	width:100%;
}

/* フッター */
#footer{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:1rem;
	font-weight:600;
	padding:2rem 0;
	border-top:1px solid #97927F;
	color:#97927F;
}

}
